.SideDrawer {
    background-color: white;
    padding: 48px 0;
    box-sizing: border-box;
    transition: opacity 0.3s ease-out;
    position: absolute;
    z-index: 2;
}

.Open {
    opacity: 1;
}

.Close {
    opacity: 0;
    visibility: hidden;
}

.SideDrawer div div:first-child {
    color: rgb(100, 206, 255);
}

.SideDrawer div div {
    width: fit-content;
    cursor: pointer;
    margin: 32px auto; 
}

.SideDrawer div div:hover {
    width: fit-content;
    cursor: pointer;
    margin: 32px auto;
    color: rgb(100, 206, 255);
}

.sWidth {
    box-shadow: 8px 0 6px -2px rgba(0, 0, 0, 0.7);
}